@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #B80707;
    --color-gray-700: #CCCCCC;
    --leading-120: 120%;
    --leading-160: 160%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: "Outfit", sans-serif;
}

.font-tc {
    font-family: "WDXL Lubrifont TC", sans-serif;
}

/* index.css or tailwind.css */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0D0D0D;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 4px;
    border: 2px solid #0D0D0D;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFFFFF;
}